extends layout
block content
  script(src='../../javascripts/mainApp.js')  
  script(src='../../javascripts/adminCtrl.js')
  
  div(ng-app='mainApp')
    div(ng-controller='adminCtrl as vm')
        nav(class="navbar navbar-inverse" role="navigation" style="padding-left:130px;")
            ul(class="nav navbar-nav")
            li(class="active") 
                a(href="/") Guest List
                span(class="sr-only") (current)
            li
                a(href="/about") Wedding Setup
            li
                a(href="/contact") Contact us
        div.top
            form.form-horizontal(role="form" style="width: 50%;")
                div(class="form-group") 
                    label(for="name" class="col-sm-2 control-label") Name
                    div(class="col-sm-10")
                        input(type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" ng-model="vm.userModel.name")
                div(class="form-group")
                    label(for="email" class="col-sm-2 control-label") Email
                    div(class="col-sm-10")
                        input(type="text" class="form-control" id="email" name="email" placeholder="example@domain.com" ng-model="vm.userModel.email")
                div(class="form-group")
                    div(class="col-sm-10 col-sm-offset-2")
                        input(id="addGuest" name="addGuest" type="button" value="Send Code" class="btn btn-primary" ng-click="vm.addGuest()")
        div.container
                div.content
                    span {{vm.userModel.name}} {{vm.userModel.email}}
                    table.table.table-striped
                        thead
                            th Guest Name
                            th Email
                            th Invite Code
                            th Status
                        tbody
                            tr(ng-repeat='user in guestList')
                                td {{user.name}}
                                td {{user.email}}
                                td 
                                    a(href='#') {{user._id}}
                                td active
            
        div.footer
      
       