doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js')
    script(src='javascripts/mainApp.js')
  body
    div(ng-app='mainApp')
      block content
      
    
    
